* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

.city {
  position: relative;
  height: 100vh;
  width: 97vw;
  background-size: cover;
  margin: 5px;
}

.layer {
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);

}

#sydney {
  background-image: url(../img/sydney.jpg);
}

#auckland {
  background-image: url(../img/auckland.jpg);
}

#cairns {
  background-image: url(../img/cairns.jpg);
}
